        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
           font-family: 'Roboto', sans-serif;
        }

        body {
            background: #fff;
            color: #333;
            padding: 20px;
            text-align: center;
        }

        header {
            text-align: center;
            margin-bottom: 40px;
        }

        header h1 {
            font-size: 3em;
            color: #ffa200;
        }
        
        header .twit:hover {
            color: #1da1f2;
        }
        
        header .twit {
            color: #000;
        }
        
        header .insta:hover {
            color: #c32aa3;
        }
        
        header .insta {
            color: #000;
        }
        
        header .rbx:hover {
            color: #ff0000;
        }
        
        header .rbx {
            color: #000;
        }
        
        .insta {
            color: #000
        }
        
        .insta:hover {
            color: #c32aa3;
        }

        nav {
            text-align: center;
            margin-top: 10px;
        }

        nav a {
            margin: 0 15px;
            text-decoration: none;
            color: #555;
            font-size: 1.2em;
        }

        nav a:hover {
            color: #000;
        }

        .post {
            text-align: center;
            background: #f4f4f4;
            margin: 20px auto;
            padding: 20px;
            border-radius: 8px;
            max-width: 800px;
        }

        .post img {
            max-width: 100%;
            border-radius: 8px;
        }

        .post h2 {
            color: #333;
            margin-top: 15px;
            font-size: 2em;
        }

        .post p {
            margin: 15px 0;
            line-height: 1.6em;
            font-size: 1.2em;
        }
        
        .post .date {
            color: #777;
            font-size: 0.9em;
            margin-bottom: 10px;
        }

        .footer {
            text-align: center;
            margin-top: 40px;
            color: #777;
        }
        
        #countdown {
            font-size: 2em;
            margin-top: 20px;
        }
        
        .Status {
            color: #ff3131;
            text-decoration: underline;
            text-align: center;
        }