* {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
}

nav {
  background: #000;
  padding: 1rem;
  text-align: left;
  color: #fff;
}

body {
  text-align: center;
}

.social-icon {
  border-radius: 50%;
  width: 32px;
  transition: 0.5s;
}

.Logo-head {
  text-decoration: none;
  font-weight: 700;
  color: #ffa200;
  font-size: 50px;
  transition: 0.5s;
}

.Logo-head:hover {
  color: #000;
  background-color: #ffa200;
}

.header {
  font-size: 35px;
}

.nev {
  font-size: x-large;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

.nev:hover {
  background-color: #fff;
  color: #000;
}

.head {
  font-size: 50px;
  text-decoration: underline #ffa200;
}

p {
  font-size: large;
}

.post-container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #f9f9f9;
  padding: 20px;
  text-align: left;
}

.post-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-content {
  font-size: 20px;
  margin-bottom: 20px;
}

.post-author {
  font-size: 14px;
  color: #555;
}

.post-author img {
  height: 14px;
  width: 14px;
}

.post-share img {
  height: 32px;
  width: 32px;
}

a {
  color: #ffa200;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.error {
  text-decoration-color: #e10000;
}

button {
  background-color: #ffa200;
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.5s;
}

button:hover {
  background-color: #000;
}